---
import { twMerge as tw } from "tailwind-merge";

interface Props {
  id: string;
  title?: string;
  class?: string;
}

const { id, title, class: className } = Astro.props;
---

<section id={id} class={tw("my-20", className)}>
  {
    title && (
      <h2 class="flex flex-row gap-2 items-center text-2xl font-sans">
        <slot name="icon" />
        {title}
      </h2>
    )
  }
  <slot />
</section>
