---
import { languages } from "@/i18n/ui";
import HeroHeader from "@/sections/HeroHeader.astro";
import About from "@/sections/About.astro";
import Experience from "@/sections/Experience.astro";
import Education from "@/sections/Education.astro";
import Projects from "@/sections/Projects.astro";
import Skills from "@/sections/Skills.astro";
import Layout from "@/layouts/Layout.astro";
import { useTranslations } from "@/i18n/utils";
import LangChanger from "@/components/LangChanger.astro";

export function getStaticPaths() {
  return Object.entries(languages).map(([key, _]) => {
    return { params: { lang: key } };
  });
}

const lang = Astro.params.lang as keyof typeof languages;
const t = useTranslations(lang);
---

<Layout
  title={t((lang) => lang.index.title)}
  description={t((lang) => lang.index.description)}
>
  <main class="w-full max-w-[800px] mx-auto py-4">
    <div class="justify-self-end">
      <LangChanger />
    </div>
    <HeroHeader />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>
</Layout>
