---
import { languages } from "@/i18n/ui";
import HeroHeader from "@/sections/HeroHeader.astro";
import About from "@/sections/About.astro";
import Experience from "@/sections/Experience.astro";
import Education from "@/sections/Education.astro";
import Projects from "@/sections/Projects.astro";
import Skills from "@/sections/Skills.astro";
import Layout from "@/layouts/Layout.astro";
import { useTranslations } from "@/i18n/utils";
import LangChanger from "@/components/LangChanger.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";

export function getStaticPaths() {
  return Object.entries(languages).map(([key, _]) => {
    return { params: { lang: key } };
  });
}

const lang = Astro.params.lang as keyof typeof languages;
const t = useTranslations(lang);
---

<Layout
  title={t((lang) => lang.index.title)}
  description={t((lang) => lang.index.description)}
>
  <main class="lg:w-full w-11/12 max-w-[800px] mx-auto py-4">
    <div
      class="lang-theme-changer justify-self-end flex gap-3 sticky top-2 z-50 backdrop-blur p-2 rounded"
    >
      <ThemeToggle />
      <LangChanger />
    </div>
    <HeroHeader />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>
</Layout>

<style>
  @reference 'tailwindcss';

  .lang-theme-changer::before {
    @apply content-[""] absolute inset-0  dark:bg-slate-500/40 -z-10 opacity-0 rounded;

    animation-name: bgFade;
    animation-fill-mode: both;
    animation-range: 45px 60px;
    animation-timeline: scroll();
  }

  @keyframes bgFade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
