---
import Section from "@/components/Section.astro";
import type { languages } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import UserCode from "@/icons/UserCode.svg";

const lang = Astro.params.lang as keyof typeof languages;
const t = useTranslations(lang);
---

<Section title={t("about.title")} id="About">
  <UserCode class="size-8 -m-1.5" slot={"icon"} />
  <div set:html={t('about.text')} class="[&>p]:mb-[1lh] w-10/12 font-raleway"></div>
</Section>
