---
import Section from "@/components/Section.astro";
import Strong from "@/components/Strong.astro";
import Pin from "@/icons/Pin.svg";
import Networks from "@/components/Networks.astro";
import { useTranslations } from "@/i18n/utils";
import type { languages } from "@/i18n/ui";
import ColombianFlag from "@/icons/ColombianFlag.svg";
import { Tooltip } from "react-tooltip";
import Download from "@/icons/Download.svg";

const lang = Astro.params.lang as keyof typeof languages;
const t = useTranslations(lang);
---

<Section id="HeroHeader" class="flex flex-row gap-14">
  <div class="space-y-1">
    <div>
      <h1 class="md:text-4xl text-2xl">Cristian Fernando Morales Diaz</h1>
      <p
        class="md:text-base text-sm w-10/12"
        set:html={t((lang) => lang.hero.description)}
      />
    </div>

    <div class="flex flex-row gap-1 items-center">
      <Pin class="size-5" />
      <a
        class="flex flex-row gap-1 items-center text-gray-700 dark:text-gray-400 hover:underline w-fit md:text-base text-sm"
        target="_blank"
        href="https://maps.app.goo.gl/MhNHSXA28ABCf5zx7"
      >
        Bucaramanga
      </a>
      <span class="text-gray-700 dark:text-gray-400">/</span>
      <a
        class="flex flex-row gap-1 items-center text-gray-700 dark:text-gray-400 hover:underline w-fit md:text-base text-sm"
        target="_blank"
        href="https://maps.app.goo.gl/2UVwTtcDrL2fwt386"
      >
        Bogotá
      </a>
      <ColombianFlag class="ml-1 md:size-5 size-4" />
    </div>

    <Networks />

    <button
      type="button"
      class="w-fit rounded px-5 py-2 border border-green-600 bg-gradient-to-br from-emerald-300 to-green-300 dark:from-emerald-800 dark:to-green-800 dark:border-green-700 hover:scale-105 transition cursor-pointer mt-3 flex flex-row gap-2 items-center md:text-base text-sm"
      title="Download CV"
      data-tooltip-id="download-cv"
    >
      <Download class="md:size-6 size-5" />
      {t((lang) => lang.hero.downloadCV.button)}
    </button>

    <Tooltip
      client:load
      id="download-cv"
      className="download-buttons"
      clickable
      events={["click"]}
      opacity={1}
    >
      <div class="flex flex-col gap-2 my-1">
        <a
          class="hover:underline py-0.5"
          href="/docs/CV_Cristian_Morales.docx"
          target="_blank"
          download
        >
          {t((lang) => lang.hero.downloadCV.harvard)}</a
        >
        <a
          class="hover:underline py-0.5"
          href="/docs/CV_Cristian-Morales_clasica.pdf"
          target="_blank"
          download
        >
          {t((lang) => lang.hero.downloadCV.clasic)}
        </a>
      </div>
    </Tooltip>
  </div>

  <div
    class="w-36 rounded-md overflow-hidden -rotate-12 shadow-2xl shadow-gray-900 dark:shadow-gray-200 md:block hidden"
  >
    <picture>
      <img
        class="size-full object-cover"
        src="/images/foto.jpeg"
        alt={t((lang) => lang.hero.imageAlt)}
      />
    </picture>
  </div>
</Section>
