---
import "@/styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;

const locale = Astro.currentLocale;
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/logo-cm.ico" sizes="any" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/logo-cm.png" />
    <script src="../scripts/cm-toast.ts"></script>
    <title>{title}</title>
  </head>

  <body
    class="min-h-screen bg-gradient-to-b dark:from-slate-900 dark:to-emerald-900 from-slate-200 to-emerald-400 text-black dark:text-white overflow-x-hidden"
  >
    <slot />

    <style is:global>
      :root {
        color-scheme: dark light;
      }
    </style>
    <cm-toast></cm-toast>
  </body>
</html>
