---
import "@/styles/global.css";
import "@fontsource-variable/montserrat";
import "@fontsource-variable/raleway";
import Snowfall from "react-snowfall";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;

const locale = Astro.currentLocale;
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/logo-cm.ico" sizes="any" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/logo-cm.png" />
    <script src="../scripts/cm-toast.ts"></script>
    <title>{title}</title>
    <script>
      history.scrollRestoration = "auto";
    </script>
  </head>

  <body
    class="min-h-screen bg-gradient-to-b dark:from-slate-900 dark:via-emerald-900 dark:to-slate-950 from-slate-200 via-emerald-400 to-green-200 text-black dark:text-white overflow-x-hidden"
  >
    <slot />

    <div id="snowfall-container" class="hidden">
      <Snowfall
        client:load
        style={{ position: "fixed", inset: 0 }}
        speed={[1, 4]}
        color="#218a50"
      />
    </div>

    <style is:global>
      :root {
        color-scheme: dark light;
      }

      html {
        font-family:
          "Raleway Variable",
          "Montserrat Variable",
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
        letter-spacing: -0.48px;
      }
    </style>
    <cm-toast></cm-toast>
  </body>
</html>

<script>
  const snowfallContainer = document.getElementById("snowfall-container");

  if (snowfallContainer && new Date().getMonth() >= 10) {
    snowfallContainer.classList.remove("hidden");
  }
</script>
