---
interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>

  <body class="min-h-screen bg-gradient-to-b from-slate-900 to-emerald-900">
    <slot />

    <style is:global>
      :root {
        color-scheme: dark light;
      }
    </style>
  </body>
</html>
